* {
padding: 0;
margin: 0;
}

html {
height: 100%;
}

body {
height: 100%;
width: 100%;
}

h1{
	font-size:20px;
	text-align:center;
	margin:5px;
}

.bloc{
	border-bottom:2px solid grey;
}

#carte {
height: 100%;
background-color: #ccc;
}

.menu-info {
    width: 350px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(255,255,255,0.8);
}

.menu-info-cache {
    width: 25px;
    position: absolute;
    z-index: 10;
    background-color: rbga(0,0,0,0.8);
}

.contenu-menu-info {
    padding-top: 25px;
    padding-left: 10px;
	padding-right:10px;
	margin-bottom:20px;
}

.contenu-menu-info-cache {
    display: none;
}

.controle {
    width: 350px;
    height: 20px;
    float: right;
}

.controle-cache {
    width: 25px;
    height: 20px;
    float: left;
    position: absolute;
    background-color: rgba(255,255,255,0.8);
}

.ligne {
    display: block;  
    margin: 4px 0px 4px 0px;  
    height: 2px;  
    background: black;
}

.contenu-liste-wifi {

}

.contenu-liste-wifi-cache {
    display: none;
}

#liste-de-wifi
{
	margin:10px;
}

#liste-de-wifi option{
	text-align:center;
}

input, label{
	margin:10px;
}
label{
	margin-left:0px;
}


@media screen and (max-width: 640px) {
    #menu-info {
        width: 100%;
        float: right;
        background-color: white;
        text-align: center;
    }

}


#leCommentaire {
 resize: none; 
}